/*Index CSS - PAGE*/



/*Body START*/

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000000;
    color: #ffffff;
  }





















/*Top Nav - START*/
.topnav {
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover {
    background-color: #ffffff;
    color: black;
  }

.topnav a.active {
  background-color: #5a5a5a;
  color: white;
}

.home-logo {
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  height: 100px
}










  /*Top Nav - EMD*/

  #center {  
    text-align: center;  
    } 


.no-products-and-services {
  margin-bottom: 35%;
}



















/*Footer - START*/
.footer-copyright {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    margin-bottom: 1%;
}
/*Footer - END*/













  /*Body - END*/