/*Index CSS - PAGE*/

/*Body START*/

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000000;
    color: #ffffff;
  }
  
/*Top Nav - START*/
.topnav {
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover {
    background-color: #ffffff;
    color: black;
  }

.topnav a.active {
  background-color: #5a5a5a;
  color: white;
}

.home-logo {
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  height: 100px
}










  /*Top Nav - EMD*/

.main-image {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header1 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}

.under-header-p {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}








#center {  
    text-align: center;  
    } 
    
    
    /*Body - END*/

    /*Footer - START*/
    .footer-copyright {
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        text-align: center;
        margin-bottom: 1%;
    }
    /*Footer - END*/